<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <div>水果列表</div>
        <span>
            <input type="text" v-model='fname'>
            <button @click='add'>添加</button>
            <button @click='del'>删除</button>
            <button @click='change'>替换</button>
        </span>
        <ul>
            <li v-for='item in fruits'>{{item}}</li>
            <!-- <li v-for='(item, index) in fruits'>{{item+'-'+index}}</li>
            <li v-for='(item, index) in myFruits'>
                <span>{{item.ename}}</span>
                <span>--{{index}}--</span>
                <span>{{item.cname}}</span>
            </li> -->
        </ul>
        <!-- <div v-for='(value, key, index) in obj'>{{key+':'+value+'-'+index}}</div>
        <button @click='headle'>添加</button> -->
    </div>

    <script src="js/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                fname: '',
                fruits: ['apple', 'orange', 'banana'],
                myFruits: [{
                    ename: 'apple',
                    cname: '苹果'
                }, {
                    ename: 'orange',
                    cname: '橘子'
                }, {
                    ename: 'banana',
                    cname: '香蕉'
                }],
                obj: {
                    uname: 'lisi',
                    age: '12',
                    gender: 'male'
                }
            },
            methods: {
                headle: function() {
                    this.myFruits.push({
                        ename: 'orange',
                        cname: '橘子'
                    });
                },
                add: function() {
                    this.fruits.push(this.fname);
                },
                del: function() {
                    this.fruits.pop();
                },
                change: function() {
                    this.fruits = this.fruits.slice(0, 2);
                }
            }
        });
    </script>
</body>

</html>